/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Long+Cang&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 3rem;
    font-family: 'Long Cang', cursive;
}

.page-container {
    background: grey;
    padding: 1%;
}

a {
   text-decoration: none;
}

.name-title a {
    font-size: 5rem;
    display: inline-block;
    margin-left: 4%;
    padding:1rem 2rem;
    color: black;
}

nav a {
    display: inline-block;
    background: plum;
    padding:1rem 2rem;
    border-radius: 1.2rem;
    color: whitesmoke;
}

nav a {
    margin-left: -1.1rem;
}

nav a:first-child {
    margin-left: 4%;
}

.reader-skip {
    display: none;
}

/* Header Media Query */

@media screen and (max-width: 800px) {
    .page-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    nav a {
        margin: 0;
        width: 30%;
        padding: 2% 5%;
    }

    nav a:first-child {
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;


    }
}

.main-content {
    display: flex;
    width: 95%;
    margin: 4% auto;
}



.main-img img {
    border-radius: 2rem;
}

.img-item img {
    border-radius: 2rem;
    border: solid 2px grey
}

.main-text {
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
}

.main-text a {
    display: inline-block;
    color: whitesmoke;
    width: 50%;
    padding: 2%;
    background: plum;
    border-radius: 1rem;
    text-align: center;
    margin: 2rem 0;

}

/* Top Section Media Query */

@media screen and (max-width: 800px) {
    .main-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-text {
        align-items: center;
        padding: 0;
    }

    .main-text p {
        max-width: 500px;
    }

}

.img-grid {
    width: 95%;
    margin: 4% auto;
}

.img-grid-cont {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    align-items: center;
}

.img-item h3 {
    text-align: left;
}

/* Grid Media Query */ 

@media screen and (max-width: 800px) {
    .img-grid-cont {
        flex-direction: column;
    }
}

footer {
    height: 30vh;
    min-height: 200px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


footer h2 {
    text-align: center;
}

.footer-text a {
    display: inline-block;
    color: whitesmoke;
    background: plum;
    padding:1rem 2rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 3%;
    margin-left: 30%;
}

.icons {
    display: flex;
}

.icons a {
    color: whitesmoke;
    background: plum;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 2rem;
    margin-left: 3rem;
}



